
<!DOCTYPE html>
<html>
<head>
    <title>Add Your Quote — Cornered Wisdom</title>
</head>

<body>

    <h1>Add a Quote</h1>

     {% if error %}
     <p>{{ error }}</p>
     {% endif %}
     <form method="post">
        {% csrf_token %}

        <label>Quote:</label>
        <textarea name="text"required></textarea>

        <br><br>

        <label>Book title:</label>
        <input type="text" required name="book_title" >

        <br><br>

        <label>Author:</label>
        <input type="text" name="author">

        <br><br>

        <label>Page number:</label>
        <input type="number" name="page_number" min="1">
        <small>Page number must be 1 or above.</small>

        <br><br>

        <label>Notes:</label>
        <textarea name="notes"></textarea>

        <br><br>

        <button type="submit">Add Quote</button>
    </form>

</body>
</html>