{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'home/images/favicon.png' %}">
    <title>Delete Quote — Cornered Wisdom</title>
</head>

<body>
    <div class="book-wrapper">
    <main class="book-page">

    <h1>Delete Quote</h1>

    <p>Are you sure you want to delete this quote?</p>

    <blockquote>
        “{{ quote.text }}”
    </blockquote>

    <form method ="post" class="quote-form delete-form">
        {% csrf_token %}
        <button type="submit" class="delete-button">Yes, Delete</button>
    </form>

    <br>

    <div class="quote-actions">
    <a href="{% url 'my_quotes' %}">Cancel</a>
    <a href="{% url 'home' %}">Back to Home</a>
    </div>
    </main>     
    </div>

</body>
</html>