{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'home/images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <title>Edit Your Quotes Here — Cornered Wisdom</title>
</head>

<body>
<div class="book-wrapper">
    <main class="book-page">
    <h1>Edit A Quote</h1>
 
    {% if error %}
    <p>{{ error }}</p>
     {% endif %}

    <form method="post" class="quote-form">
        {% csrf_token %}

        <div class="form-field">

        <label>Quote:</label>
        <textarea name="text" required>{{ quote.text }}</textarea>

        </div>

        <div class="form-field">
        <label>Book title:</label>
        <input type="text" name="book_title" value="{{ quote.book.title }}" required>
        </div>

        <div class="form-field">

        <label>Author:</label>
        <input type="text" name="author" value="{{ quote.book.author }}">

        </div>  

        <div class="form-field">
        <label>Page number:</label>
        <input type="number" name="page_number" min="1" value="{{ quote.page_number|default_if_none:'' }}">
        </div>

        <div class="form-field">
        <label>Notes:</label>
        <textarea name="notes">{{ quote.notes }}</textarea>
        </div>

        <button type="submit">Save Changes</button>
    </form>


    <div class="quote-actions">
    <a href="{% url 'my_quotes' %}">Cancel</a>
    <a href="{% url 'home' %}">Back to Home</a>
</div>
    </div>
</main>

</body>
</html>