{% load static %}
<!DOCTYPE html>
<html>
    
<head>
        <link rel="stylesheet" href="{% static 'home/style.css' %}">

    <title>Cornered Wisdom</title>

  
</head>

<body>

    <h1>Cornered Wisdom</h1>

    <!-- shuffle button -->
<a href="?shuffle=1">
    <button type="button">Shuffle</button>
</a>`

  {% if quote %}

        <blockquote>
            “{{ quote.text }}”
        </blockquote>

        <p class="book">
            — <strong>{{ quote.book.title }}</strong>,
            {{ quote.book.author }}
        </p>

    {% else %}

        <p>You don't have any quotes yet.</p>

    {% endif %} 

</body>
</html>