<!DOCTYPE html>
<html>
<head>
    <title>Login — Cornered Wisdom</title>
</head>

<body>

    <h1>Log in to Cornered Wisdom</h1>

    <form method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">Log in</button>
    </form>


    <p>
    Don't have an account?
    Click
    <a href="{% url 'about' %}">here</a>
    to learn more about Cornered Wisdom, and when you're ready, you can
    create an account
    <a href="{% url 'register' %}">here</a>
     to begin building your house of wisdom in this corner of the web.
</p>

</body>
</html>