
{% load static %}
<!DOCTYPE html>
<html>
<head>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'home/images/favicon.png' %}">
    <title>Login — Cornered Wisdom</title>
</head>

<body>
    <div class="book-wrapper">
    <main class="book-page">
    <img src="{% static 'home/images/logo.png' %}" alt="Cornered Wisdom logo" class="page-logo">

    <h1>Log in to Cornered Wisdom</h1>

    <form method="post" class="quote-form delete-form">
        
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">Log in</button>
    </form>

<div class="register-intro">
    <p>
    Don't have an account?
    Click
    <a href="{% url 'about' %}">here</a>
    to learn more about Cornered Wisdom, and when you're ready, you can
    create an account
    <a href="{% url 'register' %}">here</a>
     to begin building your house of wisdom in this corner of the web.
</p>
    </main>
    </div>
</body>
</html>