{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'home/images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <title>Register — Cornered Wisdom</title>
</head>

<body>
    <div class="book-wrapper">
    <main class="book-page">
    <img src="{% static 'home/images/logo.png' %}" alt="Cornered Wisdom logo" class="page-logo">

    <h1>Create your Cornered Wisdom account</h1>

    <form method="post" class="quote-form register-form">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">Register</button>
    </form>
</main>
</div>  
</body>
</html>